* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo Play", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding: 1rem;
  width: 100%;
}
html {
  width: 100%;
}
h1 {
  padding: 1rem 0;
  text-align: center;
  font-size: 25px;
}
p {
  text-align: center;
  margin-top: 2rem;
}
a {
  color: #77ba86;
  text-decoration: none;
}
.container {
  max-width: 500px;
}
button {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 17px;
  text-shadow: 0px 0px 10px #0000003a;
  font-weight: bold;
  background: transparent;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  background: #129700b7;
  outline: none;
  border: none;
}
textarea {
  border-radius: 10px;
  border: 1px solid gray;
  padding: 1rem;
  width: 100%;
  font-size: 16px;
}
